<div class="container mt-3">
    <div class="card border-danger">
        <div class="card-header d-flex justify-content-center bg-danger text-light fw-bold">
            Datos de Contacto
        </div>
        <div class="card-body">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item"><b>Nombre:</b> {{ datos.nombre }}</li>
                <li class="list-group-item"><b>Apellido:</b> {{ datos.apellido }}</li>
                <li class="list-group-item"><b>Email:</b> {{ datos.email }}</li>
                <li class="list-group-item"><b>Telefono:</b> {{ datos.telefono }}</li>
            </ol>
        </div>
    </div>
</div>